<div class="container">
  <div class="row">
    <div class="col">
      <h2>Follower Users</h2>
      <% if @users.exists? %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60,  fallback: "no_image.jpg" %></td>
            <td><%= user.name %></td>
            <td><p>フォロー数<%= user.followings.count %></p></td>
            <td><p>フォロワー数<%= user.followers.count %></p></td>
            <td><%= link_to "Show", user_path(user.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>