<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <div class="mb-4">
        <%= render 'users/info', user: current_user %>
      </div>
      <div>
        <%= render 'books/form', book: @book %>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60,  fallback: "no_image.jpg" %></td>
            <td><%= user.name %></td>
            <td><p>フォロー数<%= @user.followr.count %></p></td>
            <td><p>フォロワー数<%= @user.followed.count %></p></td>
            <td>
              <% unless @user == current_user %>
                <% if current_user.following?(@user) %>
                  <%= link_to 'フォローを外す', unfollow_path(@user.id), method: :post %>
                <% else %>
                  <%= link_to 'フォローする', follow_path(@user.id), method: :post %>
                <% end %>
              <% end %>
            </td>
            <td><%= link_to "Show", user_path(user.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
