<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cd73e3974b.js" crossorigin="anonymous"></script>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-secondary py-3 mb-4">
      <div class="container">
        <div class="row">
          <div class="col text-white">
            <%= link_to root_path do %>
              <strong class="text-white">Bookers</strong>
            <% end %>
            </div>

            <% if user_signed_in? %>
            <div class="mr-3">
             <%= link_to  user_path(current_user.id) do %>
             <i class="fas fa-home text-white ">Home</i>
             <% end %>
            </div>
            <div class="mr-3">
              <%= link_to users_path do %>
              <i class="fas fa-users text-white">Users</i>
              <% end %>
            </div>
            <div class="mr-3">
              <%= link_to books_path do %>
              <i class="fas fa-book-open text-white">Books</i>
              <% end %>
            </div>
            <div class="mr-3">
              <%= link_to  destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt text-white">logout</i>
              <% end %>
            </li>
          <% else %>
            <div class="mr-3">
              <%= link_to root_path do %>
              <i class="fas fa-home text-white">Home</i>
              <% end %>
            </div>
            <div class="mr-3">
              <%= link_to  home_about_path do %>
              <i class="fas fa-link text-white">About</i>
              <% end %>
            </div>
            <div class="mr-3">
              <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus text-white">sign up</i>
              <% end %>
            </div>
            <div class="mr-3">
              <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-in-alt text-white">login</i>
              <% end %>
            </div>

          <% end %>
          </nav>
        </div>
      </div>
    </header>
    <main class="container">
    <% if flash[:notice] %>
    <div class="flash">
    <%= flash[:notice] %>
    </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="mx-auto pb-3">
        <% if user_signed_in? %>
          <%= form_tag(search_path, method: :get) do %>
          <%= select_tag 'range' ,options_for_select([['---選択してください---', ''], ['User', '1'], ['Book', '2']]) %>
            <%= select_tag 'search', options_for_select([["前方一致", "forward_match"], ["後方一致", "backward_match"], ["完全一致", "perfect_match"], ["部分一致", "partial_match"]]) %>
            <%= text_field_tag (:word) %>
            <%= submit_tag "検索" %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>

    <%= yield %>
    </main>
    <footer class="mt-5 bg-secondary w-100">
      <div class="container">
        <div class="row">
          <div class="mx-auto pt-3 ">
            <p class="text-white">CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>